/* styles.scss */

// @import '~bootstrap/dist/css/bootstrap.min.css';

body {
  font-family: 'Roboto', sans-serif;
}

.formations-section {
  padding: 50px 0;
}
.card {
  border: none;
  transition: transform 0.3s ease-in-out;

  &:hover {
    transform: scale(1.05);
  }

  img {
    height: 200px;
    object-fit: cover;
  }

  .card-title {
    font-size: 1.5rem;
    margin-top: 10px;
  }

  .card-text {
    font-size: 1rem;
    color: #555;
  }

  .btn-primary {
    background-color: #3498db;
    border: none;
    margin-top: 10px;
  }

  .btn-primary:hover {
    background-color: #2980b9;
  }
}
