/* navbar.component.scss */

.navbar {
  background-color: #3498db;
}

.navbar-brand {
  // color: #fff;
  font-size: 1.5rem;
}

.navbar-toggler-icon {
  // background-color: #fff;
}

.navbar-nav {
  margin-left: auto;

  .nav-item {
    margin: 0 10px;

    a {
      // color: #fff;
      text-decoration: none;

      &:hover {
        // color: #ecf0f1;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .navbar-nav {
    margin: 10px 0;
  }

  .navbar-collapse {
    background-color: #3498db;
    padding: 10px;
  }

  .navbar-nav .nav-item {
    margin: 10px 0;

    a {
      // color: #fff;
      text-decoration: none;

      &:hover {
        // color: #ecf0f1;
      }
    }
  }
}
