.sidebar{
  
  .sidebar-header{

    h4{
      text-align: center;
      margin-top: 1vh;
    }
  }
  .nav{

    .nav-item{
      .nav-link{
        
        &:hover{
          color: #3498db;
        }
      }
    }
  }
  .flex-colum{}
}
