/* sidebar.component.scss */

.sidebar {
  height: 100%;
  width: 250px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #333;
  padding-top: 20px;
  color: #fff;
}

.sidebar-header {
  text-align: center;
  margin-bottom: 20px;
}

.nav-link {
  color: #fff;
}

.nav-link:hover {
  color: #3498db;
}
