.sidebar{
  height: 100%;
  width: 250px;
  position: fixed;
  top: 7vh;
  left: 0;
  background-color: #333;
  padding-top: 20px;
  color: #fff;
  .sidebar-header{
    text-align: center;
    margin-bottom: 20px;
    h4{

    }
  }
  .nav{
    .nav-item{
      .nav-link{
        color: #fff;
        &:hover{
          color: #3498db;
        }
      }
    }
  }
  .flex-colum{}
}
