<!-- sidebar.component.html -->

<div class="sidebar  bg-light">
  <div class="sidebar-header">
    <h4>S'inscrire</h4>
  </div>
  <ul class="nav flex-column">
    <li class="nav-item">
      <a class="nav-link" routerLink="personal-info">Informations Personnelles</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="baccalaureate-info">Information Baccalaureat</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="diploma-info">Information Diplome</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="submission-docs">Submission Documents</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="formation-choice">Choix Formation</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="review-validate">Revisez et Validez</a>
    </li>
  </ul>
</div>
