/* hero.component.scss */

.hero-section {
  background-color: #3498db;
  color: #fff;
  padding: 60px 0;

  h3 {
    font-size: 2rem;
    margin-bottom: 20px;
  }

  p {
    font-size: 1.25rem;
  }
}
