<section class="hero-section">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h3 class="display-3">ECOLE SUPERIEURE DE TECHNOLOGIE DE SIDI BENNOUR - EST SB</h3>
        <p class="lead">
          L’Ecole Supérieure de Technologie Sidi Bennour (ESTSB) est un établissement public d’enseignement supérieur à finalité de formation des Techniciens Supérieurs. Elle a été créée en Août 2016 par le Ministère de l’Enseignement Supérieur, de la Formation des Cadres et de la Recherche Scientifique du Royaume du Maroc. L’ESTSB est une composante de l’Université Chouaib Doukkali d’El Jadida. Sa vocation est de former des Techniciens Supérieurs polyvalents, hautement qualifiés et immédiatement opérationnels après leur sortie de l’Ecole en tant que collaborateurs d’ingénieurs et de managers.
        </p>
      </div>
    </div>
  </div>
</section>